    body

    h1 {text-align: center}

    #rouge {color:red;}

    #azure {color:blue;}

    #vert {color:green;}

    #btext {font-size :40px;}

    #ttext {font-size: 10px;}

    #ctext {text-align:center;}

    #strongtext {font-weight: bold}

    #trebuchet {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    
    #multi {color:orange;font-weight: bold}
    
   .styledFont {color:magenta;}

    #styledImage {border: 8px solid orange;}
   
   

